
<div class="container">
    <div class="row justify-content-md-center">
        <h3 style="text-align:center;">Homepage</h3>
    
        <table class = "table table-striped my-2" >
            <tr>
                <th class = "th-lg">Event Name</th>
                <th class = "th-lg">Date</th>
            </tr>


            <% @events.each do |event| %>
                <tr>
                    <td><%= link_to event.name, event_path(event) %></td>    
                    <td><%= event.date %></td>
                </tr>
            <% end %>
            
        </table>
    </div>
</div>